---
layout: default
title: Home
---
<div class="sidebar-page-container" style="margin: 0px; padding: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">
    <div class="content-side col-lg-12 col-md-12 col-sm-12">

      <h1>Agency Registry Directory</h1>

      <p>For information on this project, please see our <a href="https://github.com/integrateddatasvc/agency-registry">GitHub project</a> site.</p>

      {% assign data = site.data | sort%}
      
      {% assign groups = data %}
      <table class="table table-striped thead-dark w-auto">
        {% for group in groups %}
          <tr>
            <td>{{ group[0]}}</td>
            <td>
              {% assign agencies = group[1] | sort %}
              {% for agency in agencies %}
                
                {% assign name = nil %}

                {% for entity in agency[1].external.wikidata.entities %}
                  {% assign wikidata = entity %}
                  {% assign name = wikidata[1].labels.en.value %}
                  {% break %}
                {% endfor %}

                {% unless name %}
                  {% assign name = agency[1].external.ror.name %}
                {% endunless %}

                {% unless name %}
                  {% assign name = agency[0] %}
                {% endunless %}
                <a href="registry/{{group[0]}}/{{agency[0]}}/html" class="badge badge-pill badge-info">{{name}}</a>&nbsp;
              {% endfor %}
            </td>
          </tr>
        {% endfor%}
      </table>

    </div>
  </div>
</div>
