---
layout: default
title: Home
---
<div class="sidebar-page-container" style="margin: 0px; padding: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">
    <div class="content-side col-lg-12 col-md-12 col-sm-12">

      <h3>Agency Registry</h3>
      <p>This is a simple listing of the agencies in this registry -- we can add properties as desired, this is just meant to show what is possible.</p>

      {% assign data = site.data %}
      <div>Base URL: {{ site.base_url }}</div>
      
      {% assign groups = data | sort %}
      <table width="100%">
        {% for group in groups limit: 500 %}
          <tr>
            <td>{{ group[0]}}</td>
            <td>
              {% for agency in group[1]%}
                <a href="registry/{{group[0]}}/{{agency[0]}}/omad">{{ agency[0] }}</a>&nbsp;
              {% endfor %}
            </td>
          </tr>
        {% endfor%}
      </table>


      <table width="100%">
        <tr>
          <td width="60%"><strong>Name</strong></td>
          <td width="10%" align="center"><strong>Country</strong></td>
          <td width="10%" align="center"><strong>Sector</strong></td>
          <td width="10%" align="center"><strong>Details</strong></td>
        </tr>  
        <tr>
          <td colspan="4"><hr></td>
        </tr>

      {% for entry in site.registry | sort %}

        {% if entry.Organization %}

          {% assign organization = entry.Organization %}
          {% assign name = entry.Organization.Name['#text'] %}
          {% assign country = entry.Organization.Location['@countryCode'] %}
          {% assign sector = entry.Organization.Operations.Sector.Description %}                                  
        
          {% if name %}          
            <tr>
              <td>{{ name }}</td>
              <td align="center">{{ country }}</td>
              <td align="center">{{ sector }}</td>
              <td align="center"><a href="{{ entry.url }}" target="_blank">View</a></td>              
            </tr>
          {% endif %}  

        {% endif %}        
           
      {% endfor %}  
      </table>    

    </div>
  </div>
</div>
