---
layout: default
title: Home
---
<div class="sidebar-page-container" style="margin: 0px; padding: 0px;">
  <div class="auto-container" style="margin-bottom: 0px; padding-bottom: 0px;">
    <div class="content-side col-lg-12 col-md-12 col-sm-12">

      <h1>Agency Registry</h1>
      <p>This is a simple listing of the agencies in this registry -- we can add properties as desired, this is just meant to show what is possible.</p>

      <h2>Directory</h2> 

      {% assign data = site.data | sort%}
      
      {% assign groups = data %}
      <table class="table table-striped thead-dark w-auto">
        {% for group in groups %}
          <tr>
            <td>{{ group[0]}}</td>
            <td>
              {% assign agencies = group[1] | sort %}
              {% for agency in agencies %}
                <a href="registry/{{group[0]}}/{{agency[0]}}/html">{{ agency[0] }}</a>&nbsp;
              {% endfor %}
            </td>
          </tr>
        {% endfor%}
      </table>

    </div>
  </div>
</div>
