 <footer class="main-footer" style="height: 50px;">
    <div class="footer-bottom" style="padding: 0px; margin:0px;">
       <div class="copyright-section">
          <div class="auto-container">
             <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <ul class="footer-nav">
                      <li><a href="#">Agency Registry</a></li>
                   </ul>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                   <div class="copyright">A <a href="https://postman.com" style="color: #FFF;">Postman</a> and <a href="http://www.mtna.us/" style="color: #FFF;">MTNA</a> project to help define the API space.</div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
