 <!-- Main Header -->
 <header class="main-header" style="border: 1px solid #FFF;">

    <div class="header-top">
       <div class="auto-container">
          <div class="row clearfix">

             <div class="top-left col-lg-4 col-md-12 col-sm-12">
                <ul class="clearfix">
                   <li style="color: #FFF;"><a href='{{ site.baseurl }}'>{{ site.title }} {{site.baseurl}}</a></li>
                </ul>
             </div>
             
          </div>
       </div>
    </div>

 </header>
 <!--End Header Style Two -->
